<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    <title>Om sidan</title>
</head>
<body>
    <header>
        <div class="navContainer">
            <h1>Mitt CV - kurser</h1>
            <nav>
                <ul>
                    <li><a href="/">Kurser</a></li>
                    <li><a href="/addcourse">Lägg till kurs</a></li>
                    <li><a href="/about" class="active">Om sidan</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="courseContainer" id="container_about">
        <main>
            <h2>Om sidan</h2>
            <p>
                OM UPPGIFTEN<br>
                Detta är en webbapplikation där användaren kan lägga till kurser som användaren har läst via ett formulär.
                Kurserna lagras i en relationsdatabas.
                Varje kurs har information som kursnamn, kurskod, kursplan och progression. Det finns även en länk för att radera varje enskild kurs.
                All kod är skriven i Visual Studio Code och i projektet har nodeJS,express och view egine EJS använts. 
                Jag valde postgre som databas-server. Jag använder render.com som är en molntjänstbaserad tjänst för hosting av min databas.<br><br>

                RESULTAT<br>
                Som vanligt är det syntaxen som är svår, men jag uppskattar verkligen hur lite kod det är att skriva med express.
                I det stora hela har det gått bra och detta var en väldigt rolig uppgift. 
                Jag har sett fram emot att få lära mig hur man kopplar ihop en databas med en webbplats.
            </p>
          
        </main>
    </div>
    <footer>
        <p>Copyrights: Anne-Lii Hansen</p>
    </footer>
</body>

</html>
